*{
    padding: 0;
    margin: 0;
}

#all{
    width: 90vw;
    display: flex;
    flex-direction: column;
}

#title{
    margin-top: 1rem;
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    background-color: white;
}

.nav{
  padding: 10px;
  border-radius: 1.4rem;
  margin-left: 1rem;
  text-decoration-line: none;
}

#sh{
  background-color: black;
  color: white;
}

#sh:hover{
    background-color: #F2EDE2;
    color: black;
}

#ca{
    color: black;
    border: solid 0.0001rem;
}

#ca:hover{
    background-color:  #F2EDE2;
}

.green{
    color: #9A6B17;
    font-size: 10px;
}

#ex{
    font-size: 12px;
}

#main{
    margin-top: 1rem;
}

#crd{
    background-color: white;
    border-radius: 1rem;
    width: 12rem;
    height: 19rem;
}

#exc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 13rem;
    padding: 1rem;
}

.fo2{
    font-size: 1rem;
}

#img{
    background-color: #EFE7DB;
    height: 4.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#crs{
    margin-top: 1rem;
    display: grid;
    height: 40rem;
    gap: 0.41rem;
    width: 105%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
}

.btc{
   width: 5rem;
   font-size: 0.6rem;
   height: 2rem;
   border-radius: 0.6rem;
   border: 0;
   background-color: black;
   color: white;
}

.btcb{
    background-color: #F2EDE2;
    color: black;
    width: 5rem;
    font-size: 0.6rem;
    height: 2rem;
    border-radius: 0.6rem;
    border: 0;
}

#prc{
    display: flex;
    justify-content: space-between;
}